/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* dgcbhbkdvbsfb */

/* Add any other global styles that apply to the whole application */

/* Navbar Styles */
/* Since we have moved Navbar styles to its own CSS file, you don't need to include them here */

/* Header Styles */
/* Since we have moved Header styles to its own CSS file, you don't need to include them here */

/* ClubInfo Styles */
/* If there are any styles specific to ClubInfo component, you can include them here, 
   otherwise, you can keep it empty */

/* PlayersList Styles */
/* If there are any styles specific to PlayersList component, you can include them here, 
   otherwise, you can keep it empty */

/* Footer Styles */
/* Since we have moved Footer styles to its own CSS file, you don't need to include them here */
