.header {
  background-image: url('C:\Users\Pushkar Desai\Desktop\FootballFE\my-app\src\rm2.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: navy;
  
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.club-info {
  padding: 40px 0;
  background-color: #f8f9fa;
}

.players-list {
  padding: 40px 0;
}

.footer {
  padding: 20px 0;
  background-color: #343a40;
  color: white;
}

.navbar {
  border: 1px solid navy;
  background-color: white;
  color: white;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

.navbar-brand img {
  height: 30px;
  width: 50px;
  margin-right: 5px;
}
